<div class="row sign_up_container">
  <h2>Sign up</h2>

  <form action="/sign_up" method="post">
    <label for="">Email:</label>
    <input type="email" name="email" id="" value="" />

    <label for="">Password:</label>
    <input type="password" name="password" id="" value="" />

    <label for="">Password confirmation:</label>
    <input type="password" name="password_confirmation" id="" value="" />

    <input type="submit" value="Create account" class="button primary large"/>
  </form>

</div>
